{% extends "base.html" %}
{% block page_content %}


<style>

    .form-group {
        display: flex;
        align-items: center;
    }

    .form-label {
        width: 300px;
        margin-right: 10px;
    }

    
</style>



<div class="col-md-7 offset-md-0">

    <br>
    <h3>Movie Recommedation Sysytem</h3>
    <br>
    <form action="/recommendations/" method="post" target="_blank">
        
        {% csrf_token %}


        
        <div class="form-group">
            <label for="Title" class="form-label">Enter Movie Title:</label>
            {{ form.Title }}
        </div>

        
        <div class="col-md-4 offset-md-4">
        
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- Reset button -->
            <input type="reset" class="btn btn-primary" value="Reset" />
        </div>    
        
    </form>
</div>



    

<script>
    // JavaScript code to reset the form on the client side
    document.getElementById("TitleForm").addEventListener("reset", function(event) {
        // Prevent the default form reset behavior
        event.preventDefault();
        // Reset the form fields
        this.reset();
    });
</script>
    
</div>


{% endblock %}